
@import url('https://fonts.googleapis.com/css?family=Delius');
body{
	font-family: "Delius" !important;
}
h3{
	text-align: center;
	font-family: "Delius" !important;
	color: #878787;
  font-size: 21px;
}
.main-header{
	width: 1024px;
	margin: 0px auto;
}
.header-holder{
      width: 73%;
    margin: 0px auto
}
header{
margin-top: 15px;
}
header div:nth-of-type(1){
height: 75px;
	color: #A9A9A9;
}
header div label{
	margin-top: 40px;
	font-weight: normal;
	margin-top: 78px;
	margin-left: 33px;
}
	 

header div:nth-of-type(3){
 top: 50px;
	padding-left: 150px;
}
header > div :nth-of-type(1) , p :first-child{
	color: #A9A9A9;
}

header > div :nth-of-type(2) , img {
    width: 62%;
    margin-left: 71px
}
.top-right p :first-of-type{
	font-size: 30px;
	margin-bottom: 0px !important;
}
.top-right p:nth-of-type(2){
color: #f890b9;
font-size: 22px;
font-weight: bold;
}

.navigation{
  width: 72%;
  margin: 0px auto;
}
nav {
	margin-top:60px;
    margin-bottom: 0px;
}
nav ul li{
	display: inline-block;
}
nav ul li :first-child{

}

body {margin:0;}

/*//////////////////////////////////////////*/

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
padding: 10px 17px 4px 18px;
  text-decoration: none;
  
  color: #2b83ba;
  border-right: 1px solid #dadada;
  font-size: 22px;
}
.topnav a:nth-of-type(1){
padding-left: 43px;
}
.topnav a:nth-of-type(5){
	border: none;
	margin-right: 0px;
}
.topnav a img {
    width: 7%;
	margin: 0px;
    padding: 0px;
}
/*.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

/*///////////////////////////*/
nav > div img {
    width: 48%;
    margin: 7px !important;
}
}
.nav-details{
    margin-top: 16px;
}
.nav-details ul li a {
	color: #2b83ba;
}
.nav-details ul li{
	color: #2b83ba;
	font-size: 23px;
	border-right: 1px solid #dadada;
}
.nav-details ul li:nth-of-type(5){
	border: none;
	margin-right: 0px;
}
.nav-details ul li:nth-of-type(1){
	    padding-left: 9px;
	margin-left: 0px;
}
.nav-details ul li {
	padding:0px 19px 0px 19px;
}
.nav-details ul li img {
	width: 7%;
	margin: 0px;
    padding: 0px;
}

.banner-class img{
	    width: 100%;
    margin: 0px;
}
.age-header h3{
	text-align: center;	font-family: "Delius" !important;    margin-bottom: 30px;
}
.age-header{
margin: 50px 0px;

}
.age-holder div{
	text-align: center;
   padding:  32px 15px 30px 20px;
    margin-right: 47px;
    color: white;
    font-size: 26px;
    width: 21%;

}
.age-holder > div:nth-of-type(1){
background: #b8dc7e;
 
}
.age-holder > div:nth-of-type(2){
background: #ee8db5;
margin-left: 15px;
}
.age-holder > div:nth-of-type(3){
background: #f5bb69;
    margin-left: 3px;
}
.age-holder > div:nth-of-type(4){
background: #1c9ce1;
   margin-left: 20px;
    margin-right: 0px;
}
.catergories-content h3{
  font-size: 21px;
	text-align: center;
	color: #878787;
	margin: 60px 0px 20px 0px;
}
.cat-wrapper{
    background: #f9f9f9;
}
.catergories-holders{

	    margin-top: 90px;
      width: 91%;
    margin: 0px auto;

}
.age-holder > div:nth-of-type(1){
  padding-left: 0px;
}
.catergories-holders h3{
	margin-top: 60px
	padding-bottom: 20px;
}
.products > div{

	margin:0px 0px 30px 0px;
}
.products div img {
	width: 100%;
	margin: 0px !important;
}
.ig-products div img {
	width: 100%;
	margin: 0px !important;
}
.ig-products div{
	margin-top: 30px;
}
.ig-products div h3{
	margin-top: 56px 0px 0px 0px ;
  font-size: 21px;
}
.ig-content{
	margin-top: 50px;
}
.products p{
	text-align: center;
	font-size: 18px;
	color: #a1a1a1;
	margin: 10px 0px 44px 0px;
}
.featured-products {
	margin-top: 30px;
}
.featured-wrapper{
	margin-top: 50px;
}
.featured-wrapper p{
	    padding: 10px 0px;
    color: #a1a1a1;
    font-size: 18px;
    text-align: center;
    width: 73%;
}
.featured-wrapper > div p {
	color: red;
}
.ig-holders{
	    margin-top: 40px;
	    background-color: #f9f9f9;
    padding-bottom: 80px;
}
.featured-wrapper h3{
	margin: 20px 0px 0px 0px;
    color: #878787;
    font-size: 21px;
}
.featured-products img{
     width: 88%;
    margin-left: 0px;
}

.social-holder{
	background: #2e383d;
	     /*height: 394px;*/
	     padding-bottom: 40px;
}
/*.social-content p {
	text-align: center;
}*/
.social-wrapper{
	width: 20%;
}
.social-wrapper{
	padding-top: 50px;
}
.social-wrapper p{
	text-align: center;
}
.social-content img{
	width: 15%;
	margin-left: 65px;
}
.social-content p {
	text-align: center;
	color: #dfdfe0;
	font-size: 16px;
	width: 75%;

}
.social-icons {
	margin: 0px auto;
   width: 25em;
}
 
.social-icons ul li{
	display: inline-block;
}
.connect-section{
	margin-top: 40px;
}
.social-content{
	margin-bottom: 30px;
	    margin-left: 25px;
}
.social-content > div:nth-of-type(4) , img{
	    margin-top: 10px !important;
}
.connect-holder{
	border-top: 1px solid #40494e;
	margin-top: 20px;
}
.connect-holder p{
	    font-size: 18px;

	margin-top: 20px;    margin-left: 12em;
}
.connect-section p {
	text-align: center;
}

footer{
	margin-top: 20px;
    font-size: 13px;
}
footer p{
	color: #a2a2a2;
}

.banner-class{
	padding-bottom: 10px;
}
.age-header h3{
	margin-bottom: 10px;
  font-size: 21px;
}
.age-holder > div{
    	margin-right: 41px;
    	/*width: 7%;*/
    }
    .age-header h3 {
    font-size: 21px;
    margin-right: 0px;
    padding-bottom: 15px;
   }
   
    footer{
    	width: 95%;
    }
    footer p {
    	 text-align: center;
    }

    

.social-icons img:nth-of-type(1) {
    /*width: 20%;
    margin: 29px 0px 0px 53px;*/
 
}

.products {
    margin-top: 45px;
        padding-bottom: 15px;
}

.social-content {
    margin-bottom: 0px;
    margin-left: 45px;
}

.ig-products div img {
    width: 100%;
    margin: 0px 0px 0px 0px !important;}
.products div img {
    width: 93%;
    margin: 0px 0px 0px 0px auto !important;
}

.aside-icons{
	margin-right: 0px;
}
 

/*media queries*/
@media only screen and (max-width: 360px) {
  .topnav {
    margin-left: 74px !important;
}
 
.topnav a:nth-of-type(1) {
    padding-left: 0px;
}
}
@media only screen and (max-width: 320px) {
  #myTopnav {
     
    
    padding-top: 20px;
}
 header div:nth-of-type(1) {
     height: 0px !important;
    color: #A9A9A9;
    margin-top: 10px;
}
 #age-holder {
    margin-left: -6em;
}
  header div label {
    margin-top: 121px !important;
    
    width: 100%;
     
    padding-right: 44px;
    padding-left: 0px;
}
  .age-holder {
    margin-left: 4em !important;
}
  header > div :nth-of-type(2), img {
 
    margin-left: 52px;
}
  .topnav a:nth-of-type(1) {
    padding-left: 0px;
}

.logo img{
  width: 56%;
}
	#aside-icons{
		margin-right: 0px;
	}
	header div:nth-of-type(1) {
    height: 63px;
    color: #A9A9A9;
}
#myTopnav{
	margin-left: 35px !important;
}
#top-right{
	   margin-right: 60px !important;
}
.top-right {
    margin-right: 60px !important;
}
	.top-right p:nth-of-type(2) {
    color: #f890b9;
    font-size: 17px;
    font-weight: bold;
      }

	.aside-icons {
    margin-right: 0px ;   padding-left: 3px;
      }
	.top-right {
	 margin-right: 0px;
	}
}
@media only screen and (max-width: 360px) {
  .age-holder {
    margin-left: 5em !important;
}
	header div:nth-of-type(1) {
 display: none;
}
	.top-right {
		margin-right: 82px !important;
	}
	.topnav {
	     margin-left: 74px !important;
	}
	.logo {
	    margin-left: 6px !important;
	}
	header div label {
	    margin-top: 146px !important;
	}

}
@media only screen and (max-width: 768px) {
.top-right {
    margin-right: 41px;
}

.aside-icons {
    margin-right: 30px !important;
}

.topnav {
    margin-left: 50px;
}
header div label {
    font-weight: normal;
    margin-top: 225px;
    margin-left: 39px !important;
}

}
@media only screen and (max-width: 800px) {
	.aside-icons {
    margin-right: 20px !important;
}
.logo {
    width: 60%;
    margin-left: 137px;
}

header div label {
    font-weight: normal;
    margin-top: 225px;
    margin-left: 61px !important;
}
.topnav {
    
    margin-left: 35px;
}
.top-right{
	margin-right: 31px;
}

 .logo{
  width: 60%;
  margin-left: 165px;
}
header div label {
 
    font-weight: normal;
    margin-top: 225px;
    margin-left: 33px;
}

nav{
	padding: 0px !important;
    margin: 41px 28px 0px 12px;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav {
    overflow: hidden;
    margin-left: 29px;
}

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 980px) {

.connect-holder p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 8em;
}

.social-content img {
    width: 12%;
    margin-left: 18em;
}

  .social-content p {
    text-align: center;
    color: #dfdfe0;
    font-size: 16px;
    width: 75%;
    margin-left: 61px;
}

  

  .age-holder{
    margin-left: 11em;
  }
     body {
        width: 100%;
    }

    header {
      width: 100%;
    }
    .age-holder div{
      margin-right: 32px;
      width: 75%;
    }
    .nav-details{
      width: 100%;
    }
    .nav-details ul li {
      padding: 0px 8px 0px 8px;
        font-size: 15px
    }
    .aside-icons li img{
      width: 40%;
    }
  header div label {
   
    font-weight: normal;
    margin-top: 16em;
    margin-left: 33px;
}
  .logo{
    width: 56%;
margin-left: 11em;

  }
 
 .topnav a {
    float: left;
    display: block;
    
    text-align: center;
    padding: 0px 10px 0px 9px;
    text-decoration: none;
     
    color: #2b83ba;
    border-right: 1px solid #dadada;
    font-size: 20px;
}
.age-holder div{
  text-align: center;
   padding:  32px 15px 30px 20px;
      color: white;
    font-size: 26px;
  

}
  .age-holder > div:nth-of-type(1){
background: #b8dc7e;
margin-left: 0px;
 
}
.age-holder > div:nth-of-type(2){
background: #ee8db5;margin-left: 0px;

}
.age-holder > div:nth-of-type(3){
background: #f5bb69;margin-left: 0px;
    
}
.age-holder > div:nth-of-type(4){
background: #1c9ce1;
  margin-left: 0px;
    margin-right: 0px;
}


  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
 
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}

 
  
 